version: "3"

networks:
    total:
        driver: bridge

services:
    api:
        image: registry.cn-shanghai.aliyuncs.com/doutok/api:latest
        container_name: api
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8088:8088"
        restart: always

    comment:
        image: registry.cn-shanghai.aliyuncs.com/doutok/comment:latest
        container_name: comment
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8086:8086"
        restart: always

    favorite:
        image: registry.cn-shanghai.aliyuncs.com/doutok/favorite:latest
        container_name: favorite
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8085:8085"
        restart: always

    feed:
        image: registry.cn-shanghai.aliyuncs.com/doutok/feed:latest
        container_name: feed
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8083:8083"
        restart: always

    message:
        image: registry.cn-shanghai.aliyuncs.com/doutok/message:latest
        container_name: message
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8082:8082"
        restart: always

    publish:
        image: registry.cn-shanghai.aliyuncs.com/doutok/publish:latest
        container_name: publish
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8084:8084"
        restart: always

    relation:
        image: registry.cn-shanghai.aliyuncs.com/doutok/relation:latest
        container_name: relation
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8097:8097"
        restart: always

    user:
        image: registry.cn-shanghai.aliyuncs.com/doutok/user:latest
        container_name: user
        volumes:
            -   ./config_docker_compose:/app/config
        networks:
            - total
        ports:
            - "8081:8081"
        restart: always
